@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/* .App {
  text-align: center;
} */
.logo-text {
  font-family: "Mochiy Pop P One", sans-serif;
}
.review-text {
  font-family: "Mochiy Pop P One", sans-serif;
}
.custom-font {
  font-family: "Ubuntu", sans-serif;
}
